body {
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 50%;
  height: 50%;
  text-align: center;
  margin: 0 auto;
}
#userinput {
  border-radius: 12px;
  height: 90px;
  width: 300px;
}
#userinput::placeholder {
  font-size: 10px;
}
.textarea-wrapper {
  position: relative;
}
#counter {
  position: absolute;
  bottom: 8px;
  right: 30px;
  font-size: 12px;
}
.limit-reached {
  border: 1px solid red;
  color: red;
}
